<div class="flex flex-col flex-auto">
    <!-- titulo -->
    <div
        class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between p-6 sm:py-12 md:px-8 border-b bg-card dark:bg-transparent">
        <div>
            <div class="text-4xl font-extrabold tracking-tight leading-none">Proyectos</div>
            <div class="flex items-center mt-0.5 font-medium text-secondary">Control y gestión de proyectos activos
            </div>
        </div>
        <div class="mt-4 sm:mt-0">
            <button mat-flat-button [color]="'primary'">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Nuevo Proyecto</span>
            </button>
        </div>
    </div> 
    <!-- cuerpo -->
    <div class="p-6 md:p-8 space-y-8 ng-star-inserted">
        aaa
    </div>
</div>
<!-- trazabilidad  -->
<app-trazabilidad></app-trazabilidad>