<div class="flex flex-col flex-auto">
    <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between p-6 sm:py-12 md:px-8 border-b bg-card dark:bg-transparent">
        <div>
            <div class="text-4xl font-extrabold tracking-tight leading-none">Puesto Jerarquía</div>
            <div class="flex items-center mt-0.5 font-medium text-secondary">Gestión de la estructura y jerarquía de puestos</div>
        </div>
        <div class="mt-4 sm:mt-0">
            <button mat-flat-button [color]="'primary'">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Nuevo Puesto</span>
            </button>
        </div>
    </div>
</div>