/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

.no-padding-dialog {
    .mat-dialog-container {
        padding: 0 !important;
        margin: 0 !important;
        overflow: hidden !important;
        border-radius: 24px !important;
    }

    /* Eliminar el espacio que agrega Material cuando los paneles se expanden */
    .mat-expansion-panel {
        margin: 0 !important;
        border-radius: 0 !important;
        box-shadow: none !important;
    }

    .mat-expansion-panel-header {
        border-radius: 0 !important;
    }
}
